<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My crud in NodeJS</title>

    </head>
    <body>
        <h2> Success </h2>
        <h2> <%= usuario.name %> <%= usuario.surname%> </h2>
    </body>
</html>